@tailwind base;
@tailwind components;
@tailwind utilities;


.margin-50 {
    margin: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.font-800 { 
    font-weight:800
}

.bg-brown {
    background-color: brown;
}

.bg-salmon {
    background-color: salmon;
}

.margin-l-10 {
    margin-left: 10px;
}